<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Inicio Session</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='alert.css') }}">

</head>

<body>
    {% if current_page != 'index' and current_page != '/' %}
    <header>
        <nav>
            <div style="display: flex; justify-content: space-between;">
                <span>Bienvenido, {{ session['user'] }}</span>
                <div class="dropdown">
                    <div class="dropdown-content">
                        
                        <a href="/panel">Dashboard</a>
                        <a href="/table_user">Gestion de usuarios</a>
                        <a href="/opcion3">Opción 3</a>
                    </div>
                </div>
                <form method="post" action="{{ url_for('logout') }}">
                    <button type="submit" style="background-color: #512121;">Cerrar Sesión</button>
                </form>
            </div>
        </nav>
    </header>
    {% endif %}


    <main>
        {% block content %}{% endblock %}
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <script src="{{ url_for('static', filename='login.js') }}"></script>
        <script src="{{ url_for('static', filename='buscador_actividades.js') }}"></script>

    </main>

    <footer>
        <p>&copy; {{ fecha_actual }} - Derechos reservados - Gustavo Burgos</p>
    </footer>
</body>

</html>