{% block content %}
<main>
    <div class="content-container">
        <header>
            <h1>Bienvenido a Nuestra Plataforma de Gestión de Discos de Música</h1>
        </header>
        <section>
            <p>¡Gracias por visitar nuestro sitio web dedicado a brindar soluciones de alta calidad en la gestión de
                discos de música!</p>
            <p>Explora nuestras páginas para descubrir más sobre los servicios y productos que ofrecemos.</p>
            <p>Sumérgete en el mundo de la música y descubre cómo nuestra plataforma puede mejorar tu experiencia
                musical.</p>
        </section>
    </div>
</main>
{% endblock %}