{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="content-container">
            <h2>Dashboard</h2>
            <p>Bienvenido al panel de control. Aquí encontrarás información y opciones para administrar tu cuenta.</p>

            <div class="dashboard-widgets">
                <!-- Widget 1 -->
                <div class="widget">
                    <h3>Estadísticas</h3>
                    <p>Aquí puedes ver las estadísticas de tu cuenta.</p>
                    <a href="/estadisticas">Ver estadísticas</a>
                </div>

                <!-- Widget 2 -->
                {% if session['tipo'] == 'Admin' %}
                <div class="widget">
                    <h3>Gestión de Usuarios</h3>
                    <p>Administra las configuraciones de tu cuenta de usuario.</p>
                    <p><a href="/table_user">Configuración de Usuarios</a></p>
                    <p><a href="/movimietos_usuario">Registro de Movimientos</a></p>
                </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
